<form action= "/new" method = "post">
    <label for = "text_name"> Add a new document </label>
    <div>
        <input name = "text_name" type = "text" />
    </div>
    <button type = "submit"> Save </button>
    <a href = "/"> Cancel</a>
</form>