<form action = "/users/signup_check" method = "post">
    <div>
      <label for "username"> Enter your username</label>
      <input name = "username" type = "text">
    </div>
    
    <div>
      <label for "password"> Enter your password*</label> 
      <input name = "password" type = "text">
    </div>
    
    <div>
      <label for "password_again"> Enter your password again</label>
      <input name = "password_again" type = "text">
    </div>
    
    <div>
      <button type = "submit"> submit</button>
    </div>
    
    <p> *Password must be at least 6 characters long</p>
</form>