<h3> Please sign in </h3>

<form action = "/users/signin" method = "post">
  <div>
    <label for = "username">Username</label>
    <input name = "username" type = "text" value = "<%=params[:username] %>">
  </div>
  <p></p>
  <div>
    <label for = "password">Password</label>
    <input name = "password" type = "text" >
  </div>
  <button type = "submit"> Sign In </button>
</form>

<div>
  <form action = "/users/signup" method = "get">
    <label> Haven't sign up?</label>
    <button type = "submit"> Sign up</button>
  </form>
</div>
 