<form action = "/answer" method= "post">
    
    <label for "food_name"><h2> What does your baby eat today?</h2></label>
    <input name = "food_name">
    <button type = "submit"> submit</button>
    
</form>


<form action = "/food_list" method= "post">
    
    <label for "food_name"> Add a food and its nutrition to food list</label>
    <input name = "food_name" placeholder = "food name"> has
    <input name = "nutrition_name" placeholder = "nutrition name">
    <button type = "submit"> submit</button>
    
</form>


