<a href = "/question/<%=today_id %>">Add today</a>
<p></p>

<form action= "/signout" method= "post">
  <button type= "submit">Sign out</button>
</form>

<ul>
  <%@ids["id"].each do |id|%>
    <li><a href = "/question/<%=id%>"><%=get_monday_date(id)%></a></li>
  <%end%>
</ul>
 
