<p><a href="/result">Back to the list</a></p>
<p><n2>Please put in the house information below</n2></p>
<ul>
<% @property_list.keys.each do |question| %>
    <h2><li><%=question %></li></h2>
    <form action= "/" method= "post">
      <input name= "<%=question %>">
<%end%>
    <div>
      <P></P>
      <button type ="submit">submit</button>
    </div>
    </form>
</ul>
 