<a href="/"> Add a new housing </a>

<ul>
  <%  @question_list.select {|key, value| key != "test" }.select do |id, choice| %>
    <li><%= choice.values.join(", ")%></li>
    
     <form action ="/<%=id %>/remove" method="post">
      <button type="submit">remove</button>
    </form>
    
    <form action ="/<%=id %>" method="get">
      <button type="submit">edit</button>
    </form>
  <% end %>
</ul>   
    
   
  





 
      
 