<p><strong>Please fill out the sign up form</strong></p>
<form action = "/signup" method= "post">
  <label for "username">Username</label>
  <input name= "username">
  <label for "password">Password</label>
  <input name= "password">
  <button type="submit">Submit</button>
</form>